.library {
    grid-column: library-s/library-e;
    grid-row: 1/-1;

    display: grid;
    grid-template-rows: [title-s] 100px [title-e courses-s] repeat(auto-fit, 1fr) [courses-e];
    grid-row-gap: 22px;

    padding-left: 100px;
    padding-top: 100px;

    &__title {
        font-family: 'Alegreya';
        color: $color-dark-orange;
        font-size: 34px;
        font-weight: bold;
        border-left: 2px solid $color-dark-orange;
        padding: 20px 40px;
    }
}

