@import 'variables';
@import 'library';
@import 'arrow';
@import 'libraryCourse';
@import 'schedule';
@import 'scheduleCourse';
@import 'progressTracker';
@import 'addRemoveAction';
@import 'gradient';


.home {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: [library-s] 1fr 1fr [schedule-s] 50px [library-e] 1fr [schedule-e];
    grid-template-rows: 1fr;
}








